# VK API Settings
VK_TOKEN=your_vk_community_token_here
VK_GROUP_ID=your_vk_group_id_here
VK_CONFIRMATION_CODE=your_vk_confirmation_code_here
VK_ADMIN_ID=your_admin_vk_id_here

# Django Settings
SECRET_KEY=your-secret-key-generate-with-django-get-secret-key
DEBUG=False
DOMAIN=your-domain.com
ALLOWED_HOSTS=localhost,127.0.0.1,your-domain.com

# Admin Settings
ADMIN_EMAIL=admin@example.com
