[Unit]
Description=Anton Maker Gunicorn
After=network.target

[Service]
Type=notify
User=www-data
Group=www-data
RuntimeDirectory=gunicorn
WorkingDirectory=/opt/anton_maker
ExecStart=/opt/anton_maker/venv/bin/gunicorn --workers=2 --threads=4 --worker-class=gthread --bind=unix:/run/anton/gunicorn.sock config.wsgi:application
Restart=on-failure
RestartSec=10
PrivateTmp=true
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
